
<mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
  </mat-form-field>

<mat-table [dataSource]="dataSource" matSort>
  
    <ng-container matColumnDef="lotNumber">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Lot Number</mat-header-cell>
        <mat-cell *matCellDef="let model">{{model.lotNumber}}</mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="qty">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Total Quantity</mat-header-cell>
        <mat-cell class="qty-cell"
                  *matCellDef="let model">{{model.qty}}</mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="amount">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Cost Amount</mat-header-cell>
        <mat-cell *matCellDef="let model">{{model.amount}}</mat-cell>
    </ng-container>
       
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    

</mat-table>
