<div>
    <mat-toolbar style="height: 5vh" color="primary">
        <div fxShow="true" fxHide.gt-sm="true">
            <button mat-icon-button (click)="sidenav.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
        </div>

        <a mat-button class="companyName" routerLink="/">
            <span>Nikhil Thermoplast</span>
        </a>
        <span class="example-spacer"></span>
        <!-- <div fxShow="true" fxHide.lt-md="true">
            <a mat-button (click)="onAddPurchase()">New Purchase</a>
            <a mat-button (click)="onAddProduction()">New Production</a>
        </div> -->


        <div fxShow="true" fxHide.lt-md="true">
        <a mat-button  [matMenuTriggerFor]="menuPurchase">
                Add Purchase
        </a>
            <mat-menu #menuPurchase="matMenu" [overlapTrigger]="false">
                <button style="display: block" mat-button (click)="onAddPurchase('DRY 401')">DRY 401</button>
                <button style="display: block" mat-button (click)="onAddPurchase('602')">602</button>
                <button style="display: block" mat-button (click)="onAddPurchase('675')">675</button>
                <button style="display: block" mat-button (click)="onAddPurchase('684')">684</button>
                <button style="display: block" mat-button (click)="onAddPurchase('685')">685</button>
                <button style="display: block" mat-button (click)="onAddPurchase('687')">687</button>
                <button style="display: block" mat-button (click)="onAddPurchase('K. Resin 99')">K. Resin 99</button>
                <button style="display: block" mat-button (click)="onAddPurchase('Denka')">Denka</button>
                <button style="display: block" mat-button (click)="onAddPurchase('CN 08')">CN 08</button>
                <button style="display: block" mat-button (click)="onAddPurchase('K. Resin Second')">K. Resin Second</button>
                <button style="display: block" mat-button (click)="onAddPurchase('Crystal First')">Crystal First</button>
                <button style="display: block" mat-button (click)="onAddPurchase('Crystal Second')">Crystal Second</button>
                <button style="display: block" mat-button (click)="onAddPurchase('Oil')">Oil</button>
                <button style="display: block" mat-button (click)="onAddPurchase('Calcium')">Calcium</button>
                <button style="display: block" mat-button (click)="onAddPurchase('Colour')">Colour</button>
                <button style="display: block" mat-button (click)="onAddPurchase('SEBS 7550')">SEBS 7550</button>
                <button style="display: block" mat-button (click)="onAddPurchase('SEBS 7551')">SEBS 7551</button>
                <button style="display: block" mat-button (click)="onAddPurchase('P.P. First')">P.P. First</button>
                <button style="display: block" mat-button (click)="onAddPurchase('P.P. Second')">P.P. Second</button>
                <button style="display: block" mat-button (click)="onAddPurchase('Anti Oxident')">Anti Oxident</button>
                <button style="display: block" mat-button (click)="onAddPurchase('Vistamax')">Vistamax</button>
                <button style="display: block" mat-button (click)="onAddPurchase('SBS 401')">SBS 401</button>
                <button style="display: block" mat-button (click)="onAddPurchase('SBS')">SBS</button>
                <button style="display: block" mat-button (click)="onAddPurchase('')">Other...</button>
                
              </mat-menu>
              <a mat-button  [matMenuTriggerFor]="menuProduction">
                    Add Production
            </a>
                  <mat-menu #menuProduction="matMenu" [overlapTrigger]="false">
                    <button style="display: block"  mat-button (click)="onAddTPRProduction()">TPR</button >
                    <button style="display: block"  mat-button (click)="onAddTPEProduction()">TPE</button >
                    <button style="display: block"  mat-button (click)="onAddModifierProduction()">Modifier</button >
                    <button style="display: block"  mat-button (click)="onAddMasterBatchProduction()">Master Batch</button >
                    <button style="display: block"  mat-button (click)="onAddProduction()">Other...</button >
                  </mat-menu>
        </div>


    </mat-toolbar>
    <mat-sidenav-container fxFlexFill class="example-container">

        <mat-sidenav color="primary" #sidenav fxLayout="column" mode="over" fixedInViewport="true" opened="false"
            fxHide.gt-sm="true">
            <div fxLayout="column">
                    <a mat-button  [matMenuTriggerFor]="menuPurchase">
                            Add Purchase
                    </a>
                        <mat-menu #menuPurchase="matMenu" [overlapTrigger]="false">
                            <button style="display: block" mat-button (click)="onAddPurchase('DRY 401')">DRY 401</button>
                            <button style="display: block" mat-button (click)="onAddPurchase('602')">602</button>
                            <button style="display: block" mat-button (click)="onAddPurchase('675')">675</button>
                            <button style="display: block" mat-button (click)="onAddPurchase('684')">684</button>
                            <button style="display: block" mat-button (click)="onAddPurchase('685')">685</button>
                            <button style="display: block" mat-button (click)="onAddPurchase('687')">687</button>
                            <button style="display: block" mat-button (click)="onAddPurchase('K. Resin 99')">K. Resin 99</button>
                            <button style="display: block" mat-button (click)="onAddPurchase('Denka')">Denka</button>
                            <button style="display: block" mat-button (click)="onAddPurchase('CN 08')">CN 08</button>
                            <button style="display: block" mat-button (click)="onAddPurchase('K. Resin Second')">K. Resin Second</button>
                            <button style="display: block" mat-button (click)="onAddPurchase('Crystal First')">Crystal First</button>
                            <button style="display: block" mat-button (click)="onAddPurchase('Crystal Second')">Crystal Second</button>
                            <button style="display: block" mat-button (click)="onAddPurchase('Oil')">Oil</button>
                            <button style="display: block" mat-button (click)="onAddPurchase('Calcium')">Calcium</button>
                            <button style="display: block" mat-button (click)="onAddPurchase('Colour')">Colour</button>
                            <button style="display: block" mat-button (click)="onAddPurchase('SEBS 7550')">SEBS 7550</button>
                            <button style="display: block" mat-button (click)="onAddPurchase('SEBS 7551')">SEBS 7551</button>
                            <button style="display: block" mat-button (click)="onAddPurchase('P.P. First')">P.P. First</button>
                            <button style="display: block" mat-button (click)="onAddPurchase('P.P. Second')">P.P. Second</button>
                            <button style="display: block" mat-button (click)="onAddPurchase('Antioxident')">Anti Oxident</button>
                            <button style="display: block" mat-button (click)="onAddPurchase('Vistamax')">Vistamax</button>
                            <button style="display: block" mat-button (click)="onAddPurchase('SBS 401')">SBS 401</button>
                            <button style="display: block" mat-button (click)="onAddPurchase('SBS')">SBS</button>
                            <button style="display: block" mat-button (click)="onAddPurchase('')">Other...</button>
                            
                          </mat-menu>
                          <a mat-button  [matMenuTriggerFor]="menuProduction">
                                Add Production
                        </a>
                              <mat-menu #menuProduction="matMenu" [overlapTrigger]="false">
                                <button style="display: block"  mat-button (click)="onAddTPRProduction()">TPR</button >
                                <button style="display: block"  mat-button (click)="onAddTPEProduction()">TPE</button >
                                <button style="display: block"  mat-button (click)="onAddModifierProduction()">Modifier</button >
                                <button style="display: block"  mat-button (click)="onAddMasterBatchProduction()">Master Batch</button >
                                <button style="display: block"  mat-button (click)="onAddProduction()">Other...</button >
                              </mat-menu>

            </div>
        </mat-sidenav>
        <mat-sidenav-content style="height: 95vh; overflow: hidden;">

            <mat-grid-list cols="2" rowHeight="50%">
                <mat-grid-tile [colspan]="1" [rowspan]="1">

                    <mat-card style="height: 100%; width: 100%">
                        <mat-card-header>
                            <mat-card-title>Stock Summary</mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <app-products-summary></app-products-summary>
                        </mat-card-content>
                    </mat-card>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">

                    <mat-card style="height: 100%; width: 100%">
                        <mat-card-header>
                            <mat-card-title>Production Summary</mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <app-production-summary></app-production-summary>
                        </mat-card-content>
                    </mat-card>



                </mat-grid-tile>
                <mat-grid-tile [colspan]="2" [rowspan]="1">
                    <mat-tab-group style="height: 100%; width: 100%">
                        <mat-tab label="Production Details">
                            <ng-template matTabContent>
                                <app-production-jobs></app-production-jobs>
                            </ng-template>
                        </mat-tab>
                        <mat-tab label="Stock Details">
                            <ng-template matTabContent>
                                <app-products-available></app-products-available>
                            </ng-template>
                        </mat-tab>
                        <mat-tab label="Purchace Details">
                            <ng-template matTabContent>
                                <app-purchase-history></app-purchase-history>
                            </ng-template>
                        </mat-tab>

                    </mat-tab-group>
                </mat-grid-tile>
            </mat-grid-list>

        </mat-sidenav-content>
    </mat-sidenav-container>
</div>