<div [formGroup]="parts" class="add-production-custom-field-input-container">
        <span class="add-production-custom-field-input-spacer" style="width:2%">U</span>  
    <input class="add-production-custom-field-input-element" style="width: 48%" formControlName="qtyUSed"  type="number" aria-label="Qty USed" (input)="_handleInput()">
        <span class="add-production-custom-field-input-spacer" style="width:2%">W</span>
        <input class="add-production-custom-field-input-element"style="width: 48%" formControlName="qtyWaste" type="number" aria-label="Qty Waste" (input)="_handleInput()">
</div>
      