<h2 mat-dialog-title>New Purchase</h2>

<mat-dialog-content [formGroup]="form">
  
    <mat-form-field>
        <input matInput
                placeholder="#Bill"
               formControlName="billingId">
    </mat-form-field>

    
    <mat-form-field>
        <input matInput
                placeholder="Product Name"
               formControlName="productName">
    </mat-form-field>
    
    <mat-form-field>
        <input type="number" matInput
                placeholder="Quantity (total units)"
               formControlName="qty">
    </mat-form-field>
    
    <mat-form-field>
        <input type="number" matInput
                placeholder="Price (per unit)"
               formControlName="price">
    </mat-form-field>
    
    <mat-form-field>
        <input type="text" matInput
                placeholder="details"
               formControlName="details">
    </mat-form-field>
 
</mat-dialog-content>

<mat-dialog-actions>
    <button class="mat-raised-button"(click)="close()">Close</button>
    <button class="mat-raised-button mat-primary"(click)="save()">Save</button>
</mat-dialog-actions>